*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1900px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: "SUSE", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: rgb(73, 11, 61);
}

.complete_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_left {
  -ms-flex-preferred-size: 0 0 40;
      flex-basis: 0 0 40;
}
.container {
  -ms-flex-preferred-size: 0 0 60;
      flex-basis: 0 0 60;
}

.container__body {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container__body-p {
  text-align: center;
  margin-top: 2rem;
}

.form {
  background-color: #f5f4f8;
  padding: 5rem;
  min-width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__h2 {
  text-align: center;
}
@media (max-width: 1900px) {
  .form {
    min-width: 45vw;
  }
}
@media (max-width: 1200px) {
  .form {
    min-width: 50vw;
  }
}
@media (max-width: 900px) {
  .form {
    background-color: transparent;
    min-width: 70vw;
  }
}
@media (max-width: 600px) {
  .form {
    background-color: transparent;
    min-width: 90vw;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid black;
  width: 90%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgb(57, 172, 57);
}
.form__input:focus:invalid {
  border-bottom: 2px solid rgb(243, 4, 4);
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: 0.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__terms label {
  display: inline;
}

.form__radio-input {
  display: none;
}
.form__radio-group {
  width: 40%;
  display: inline-block;
  position: relative;
}
.form__radio-label {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  padding-right: 4rem;
}
.form__radio-button {
  height: 2.8rem;
  width: 2.8rem;
  border: 5px solid blue;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -4rem;
  top: 0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.form__radio-second {
  margin-left: 12rem;
}
.form__radio-first {
  margin-left: 5rem;
}
.form__input--error {
  border-bottom: 2px solid rgb(243, 4, 4);
}
.form__input--success {
  border-bottom: 2px solid rgb(57, 172, 57);
}
.form__button {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  background-color: blue;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0rem 2rem 0 2rem;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  margin-right: 10rem;
}
.form__select {
  width: 90%;
  font-size: 1.5rem;
  font-weight: 450;
  color: rgb(14, 13, 13);
  border-radius: 7px;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
}

.span__radio-error {
  position: absolute;
  left: 226.5%;
}
.span__radio-success {
  position: absolute;
  left: 226.5%;
}

.error-icon {
  color: red;
}

.success-icon {
  color: green;
}

.hidden {
  display: none !important;
}

.hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
}