@import "main";

// start

.container2 {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(8, auto);
}

.span2 {
    color: $link-hover;
}

@import "partials/otherSidebar";

.body {
    grid-column: 2/-1;
    grid-row: 3/6;
    padding-left: 2rem;
    margin-bottom: 30rem;

    &-text {
        margin-top: 2rem;
    }
}

// end
