@import "main";


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline !important;
        outline: none;
        color: -$link-hover;
    }
}



.heading {
    background-color: $footer-color;
    width: 100%;
    text-align: center;
    color: $body-color;
    font-size: 3rem;
}

.subheading {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3.5rem;
}

.content{
    &__div1-p{
        margin-top: 2rem;
        padding-left: 3rem;
    }


  &__div2 {
        text-align: center;
        margin-top: 20rem;
        margin-bottom: 1rem;
        color: $headings-color;
    }



}

.footer {
    grid-column: 1/-1;
    grid-row: 4/5;
    background-color: $footer-color;
    color: $footer-text-color;

    &__div {

        &-p {
            text-align: center;
            color: rgb(0, 0, 0);

            &-a {
                color: $headings-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

  
}
