@import "main";

%table-line {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    color: black;
}

// start

@import "partials/otherSidebar";

.body {
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5rem;
        margin-bottom: 5rem;

        th {
            @extend %table-line;
            background-color: $footer-color;
            color: $body-color;
        }

        td {
            @extend %table-line;
            font-weight: 550;
        }
        .link {
            color: $link-hover;
        }
    }
}

hr {
    border: 2px solid $body-color; /* Black solid line */
    width: 95%; /* Line width */
    margin: 20px auto; /* Center the line */
}

// end

.div__style {
    margin-bottom: 4rem;

    &-pagination {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;

        &__link {
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: $link-hover;
            border: 1px solid $footer-color;
            border-radius: 3rem;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $button-color;
                color: $button-text-color;
                text-decoration: none !important;
            }
            &.active {
                background-color: $link-hover;
                color: $button-text-color;
                pointer-events: none;
            }
        }
    }
}
