    <section class="side__bar">
      <h4 class="side__bar-h4">My Portal</h4>
      <ul class="side__bar-ul">
        <li class="side__bar-li"><a class="side__bar-a" href="/adminDashboard">Dashboard</a></li>
        <li class="side__bar-li"><a class="side__bar-a" href="/showAllPatient">Patients</a></li>
        <li class="side__bar-li"><a class="side__bar-a" href="/showAllAppointment">Appointments</a></li>
        <li class="side__bar-li"><a class="side__bar-a" href="/showAllDoctors">Doctors</a></li>



        <li class="side__bar-li"><a class="side__bar-a" href="/showAllAdmin">Admins</a></li>




        <!-- <% if (userRole && userRole.includes("Super Admin")) { %>

        <li class="side__bar-li"><a class="side__bar-a" href="/showAllAdmin">Admins</a></li>

        <% } %> -->


        <form action="/logout" method="POST">
          <button type="submit" class="side__bar-a">Logout</button>
        </form>
      </ul>
    </section>