<section class="headnav">
    <header class="header">
        <div class="header__div">
            <img src="../img/logo6.png" class="logo" alt="Digital Doctor" />
        </div>
    </header>
    <label class="lab">
        <input class="inp" type="checkbox" />
        <div class="toggle">
            <span class="top_line common"></span>
            <span class="middle_line common"></span>
            <span class="bottom_line common"></span>
        </div>
        <nav class="nav">
            <div class="nav__div">
                <h3 class="nav__div-h3">MENU</h3>
                <a href="./homepage.html" class="nav__div_li">Home</a>
                <a class="nav__div_li" href="./Consultation.html"
                    >Consultation</a
                >
                <a class="nav__div_li" href="./Dashboard.html">Dashboard</a>
                <a class="nav__div_li" href="./Contact.html">Contact Us</a>
                <a class="nav__div_li" href="./About.html">About</a>
            </div>
        </nav>
    </label>
</section>
