<section class="headnav">
  <header class="header">
    <div class="header__div">
      <img src="../img/logo6.png" class="logo" alt="Digital Doctor" />
    </div>
  </header>
  <label class="lab">
    <input class="inp" type="checkbox" />
    <div class="toggle">
      <span class="top_line common"></span>
      <span class="middle_line common"></span>
      <span class="bottom_line common"></span>
    </div>
    <nav class="nav">
      <div class="nav__div">
        <h3 class="nav__div-h3">MENU</h3>
        <a href="./" class="nav__div_li">Home</a>
        <a class="nav__div_li" href="./showAllDoctors">Consultation</a>
        <a class="nav__div_li" href="
        <%= user && user.role.includes('patient') ? '/patientDashboard' : 
          user && user.role.includes('doctor') ? '/doctorDashboard' : 
         user && user.role.includes('Admin') ? '/adminDashboard' : 
         'javascript:alert(\'Please login\'); window.location.href=\'/\';' %>">
          Dashboard
        </a>


        <a class="nav__div_li" href="./contact">Contact Us</a>
        <a class="nav__div_li" href="./about">About</a>
        <a href="/loginPatient"><button class="nav__div_button">Login</button></a>

    

      </div>

    </nav>
  </label>
</section>