<%- include('partials/header') %>
<%- include('partials/nav_bar') %>

<body>

  <section class="page">
    <div class="main">
      <h1>want to know more about us???</h1>
      <p>connect with certified doctors online!!!</p>
      <h3>only on digital doctor
        <br>
        <h6>
          your health,your way...
        </h6>

      </h3>
      <h3></h3>
    </div>
  </section>
  <section class="about">
    <!-- <div class="title">
      <h3>About<span>Us</span></h3>
    </div> -->
    <div class="info-1-title">
      <h3 class="info-1-text">Who We Are</h3>
    </div>
    <div class="info">
      <div class="info-1-img">
        <img class="img" src="../img/doc 2.jpg" alt="about-img">
      </div>
      <div class="info-text">
        <span>
          <h2 class="info-text-h2">At Digital Doctor</h2>
          <p class="info-text-p">At Digital Doctor, we revolutionize healthcare by connecting patients with qualified doctors through our innovative online platform. Our secure system enables convenient virtual consultations and appointment scheduling, making quality healthcare accessible from the comfort of your home. With a network of experienced medical professionals across various specialties, we ensure patients receive comprehensive care without the hassle of traditional clinic visits. We believe in combining cutting-edge technology with compassionate healthcare delivery to create a medical experience that fits seamlessly into modern life.</p>
        </span>
      </div>
      <div class="info-2">
        <div class="info-2-text">
          <h2>why you should rely on us.</h2>
        </div>
        <img class="image-2" src="../img/rely.jpeg" alt="rely">
        <div class="row-1">
          <span class="after">Expertise You Can Trust:</span>
          <p> With years of experience and specialized training, we provide accurate diagnoses and effective treatments tailored to your needs.</p>
          <div class="row-2">
            <span class="after">Patient-Focused Care:</span>
            <p>We listen, understand, and treat you as an individual. Your concerns are always our top priority.</p>
          </div>
          <div class="row-3">
            <span class="after">Cutting-Edge Technology:</span>
            <p>Our practice is equipped with advanced tools and techniques to ensure you receive the best care possible.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end here -->
  <%- include('partials/footer') %>


</body>

</html>