<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Digital Doctor's homepage offers intuitive access to online medical consultations, 24/7 healthcare, and certified professionals."
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css" />
        <title>Document</title>
    </head> -->
    <%- include('partials/header') %>
    <!-- <%- include('partials/nav_bar') %> -->
    <body class="container">
        <section class="main1">
            <div class="submain2">
                <div class="row">
                    <div class="service-col service-col-1">
                        <a href="#"><img src="/img/dr_jane.jpeg" alt=""></a>
                        <h2 class="all_h2">Dr. John Doe</h2>
                        <p> Specialty: Cardiology</p>
                        <p> Eperience: 10 years </p>
                        <p> Phone: + 1235 2355 98 </p>
                    </div>
                    <div class="service-col service-col-2">
                        <a href="#"><img src="/img/dr_jane.jpeg" alt=""></a>
                        <h2 class="all_h2">Dr. John Doe</h2>
                        <p> Specialty: Cardiology</p>
                        <p> Eperience: 10 years </p>
                        <p> Phone: + 1235 2355 98 </p>
                    </div>
                    <div class="service-col service-col-3">
                        <a href="#"><img src="/img/dr_jane.jpeg" alt=""></a>
                        <h2 class="all_h2">Dr. John Doe</h2>
                        <p> Specialty: Cardiology</p>
                        <p> Eperience: 10 years </p>
                        <p> Phone: + 1235 2355 98 </p>
                    </div>
                    <div class="service-col service-col-4">
                        <a href="#"><img src="/img/dr_jane.jpeg" alt=""></a>
                        <h2 class="all_h2">Dr. John Doe</h2>
                        <p> Specialty: Cardiology</p>
                        <p> Eperience: 10 years </p>
                        <p> Phone: + 1235 2355 98 </p>
                    </div>
                    <div class="service-col service-col-5">
                        <a href="#"><img src="/img/dr_jane.jpeg" alt=""></a>
                        <h2 class="all_h2">Dr. John Doe</h2>
                        <p> Specialty: Cardiology</p>
                        <p> Eperience: 10 years </p>
                        <p> Phone: + 1235 2355 98 </p>
                    </div>
                    <div class="service-col service-col-6">
                        <a href="#"><img src="/img/dr_jane.jpeg" alt=""></a>
                        <h2 class="all_h2">Dr. John Doe</h2>
                        <p> Specialty: Cardiology</p>
                        <p> Eperience: 10 years </p>
                        <p> Phone: + 1235 2355 98 </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- <%- include('partials/footer') %> -->
    </body>
</html>
