<%- include('partials/header') %>

<body class="container">
  <%- include('partials/nav_bar') %>

  <!-- start here -->
  <section class="main2">
    <div class="div1">
      <h1 class="div1-h1">contact us</h1>
      <p class="div1-p">
        We'd love to hear from you! Whether you have a question, need
        support, or just want to share feedback. <br />
        Please feel free to reach out to us through any of the following
        methods:
      </p>
    </div>
    <div class="div2">
      <div class="div2__row">
        <div class="div2__row-card1 cards">
          <a class="div2__row-card1-a" href="#"><img class="div2__row-card1-img cards-img" src="./../img/contact.png" /></a>
          <h2 class="div2__row-card1-h2 cards-h2">CONTACT NUMBER</h2>
          <p class="cards-p">+ 1232 5674 34</p>
          <p class="cards-p">+ 1235 2355 98</p>
        </div>
        <div class="div2__row-card2 cards">
          <a class="div2__row-card2-a" href="#"><img class="div2__row-card2-img cards-img" src="./../img/email.png" /></a>
          <span class="span">
            <h2 class="div2__row-card2-h2 cards-h2">
              EMAIL ADRESS
            </h2>
          </span>
          <p class="cards-p">info@digitaldoctor.gmail</p>
          <p class="cards-p">info@digitaldoctor.aol</p>
        </div>
        <div class="div2__row-card3 cards">
          <a class="div2__row-card3-a" href="#"><img class="div2__row-card3-img cards-img" src="./../img/post.png" /></a>
          <h2 class="div2__row-card3-h2 cards-h2">ADDRESS</h2>
          <p class="cards-p">
            198 West 21st street,<br />
            Suite 721 New York NY10016
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="message">
    <form action="#" enctype="multipart/form-data" class="form" id="registrationForm">
       <div class="message__div">
         <h1 class="message__div-h1">Leave us a message</h1>
       </div>
      <div class="form__group form_val">
        <label class="form__label form__label-anim" for="first_name">Name</label>
        <input type="text" class="form__input form__input-anim" id="name" placeholder="Name" name="name" required minlength="3" custommaxlength="30" />
      </div>

      <div class="form__group form_val">
        <label class="form__label form__label-anim" for="email">Email</label>
        <input type="email" class="form__input form__input-anim" id="email" name="email" placeholder="Email Address" required minlength="5" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
      </div>
      <div class="form__group form_val">
        <label class="form__label form__label-anim" for="age">Phone</label>
        <input type="number" class="form__input form__input-anim" id="phone_no" placeholder="phone" name="phone" required minlength="8" />
      </div>

      <div class="form__group form_val">
        <label class="form__label form__label-anim" for="address">Subject</label>

        <input type="text" class="form__input form__input-anim" id="subject" name="subject" placeholder="Your Subject"" required
                minlength=" 10" />
      </div>

      <div class="form__group form_val">
        <label class="form__label form__label-anim" for="address">Message</label>

        <input type="text" class="form__input form__input-anim form__input-message" id="message" name="message" placeholder="Type Your Message" required minlength="10" />
      </div>

      <button class="form__button" type="submit">Submit</button>
    </form>
  </section>

  <!-- end here -->
  <%- include('partials/footer') %>


</body>
<!-- </html> -->