<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Digital Doctor's homepage offers intuitive access to online medical consultations, 24/7 healthcare, and certified professionals."
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./../css/homepage.css" />
        <title>Document</title>
    </head>
    <body class="container">
        <section class="headnav">
            <header class="header">
                <div class="header__div">
                    <img
                        src="../img/logo6.png"
                        class="logo"
                        alt="Digital Doctor"
                    />
                </div>
            </header>
            <label class="lab">
                <input class="inp" type="checkbox" />
                <div class="toggle">
                    <span class="top_line common"></span>
                    <span class="middle_line common"></span>
                    <span class="bottom_line common"></span>
                </div>
                <nav class="nav">
                    <div class="nav__div">
                        <h3>MENU</h3>
                        <a href="./homepage.html" class="nav__div_li">Home</a>
                        <a class="nav__div_li" href="./registration.html"
                            >Consultation</a
                        >
                        <a class="nav__div_li" href="./Doctors.html">Doctors</a>
                        <a class="nav__div_li" href="./Contact.html"
                            >Contact Us</a
                        >
                        <a class="nav__div_li" href="./About.html">About</a>
                    </div>
                </nav>
            </label>
        </section> -->

<%- include('partials/header') %> 
<%- include('partials/nav_bar') %>
<%- include('partials/footer') %>

<html>
    <body class="container">
        <section class="mainaside">
            <main class="main">
                <img
                    src="../img/logo8.png"
                    class="main__img"
                    alt="Online Doctor"
                />
                <h2 class="main__h2">Welcome To Digital Doctor</h2>
                <p class="main__p">
                    Your Health, Your Way.
                    <br />
                    Consult with Certified Doctors Online. Digital Doctor offers
                    a seamless connection to top healthcare professionals.
                </p>
                <p class="main__p2">
                    <span class="span-p2"
                        >At Digital Doctor, we revolutionize the way you access
                        healthcare. </span
                    >Whether you're seeking immediate medical advice, need a
                    routine check-up, or require a specialist consultation, our
                    platform provides seamless access to experienced doctors
                    from the comfort of your home. With 24/7 availability,
                    secure video calls, and personalized care, managing your
                    health has never been easier or more convenient.
                </p>
            </main>

            <aside class="aside">
                <h2 class="aside__h2">Latest News</h2>
                <p class="aside__p">
                    New Doctors Joining Our Platform. We're excited to welcome
                    Dr. Emily Turner, a specialist in pediatric care with over
                    15 years of experience. Dr. Turner is the oldest doctor with
                    35+ years experience
                </p>

                <p class="aside__p">
                    New Doctors Joining Our Platform. We're excited to welcome
                    Dr. Emily Turner, a specialist in pediatric care with over
                    15 years of experience. Dr. Turner is available for
                    consultations every Monday through Friday from 10 AM to 6
                    PM. Additionally, Dr. Anil Mehta, a renowned cardiologist,
                    has joined our team. Dr. Mehta brings a wealth of experience
                    in heart health and is available for consultations during
                    the evenings and weekends.
                </p>
                <h2 class="aside__h2">Introducing New Features</h2>
                <p class="aside__p">
                    We've recently rolled out an improved video call interface
                    with crystal-clear audio and video quality. Our new feature
                    allows you to share your screen during consultations, making
                    it easier for doctors to review any health data or symptoms
                    you might want to show. Stay tuned for more updates!
                </p>
            </aside>
        </section>
        <section class="others">
            <div class="others__row1">
                <h2 class="others__row1-h2">Why Choose Digital Doctor</h2>
            </div>
            <div class="others__row2">
                <article class="others__row2-article1 article">
                    <h3 class="others__row2-article1-h3 article-h3">
                        24/7 Access to Healthcare
                    </h3>
                    <p class="others__row2-article1-p article-p">
                        Around-the-Clock Medical Support: Health issues don’t
                        follow a 9-to-5 schedule, and neither do we. With
                        Digital Doctor, you can consult with a qualified doctor
                        whenever you need—day or night. Whether it's an urgent
                        concern at 2 AM or a routine question during your lunch
                        break, we're here for you. No more waiting rooms or
                        scheduling conflicts—our service is designed to fit your
                        life, not the other way around.
                    </p>
                </article>
                <article class="others__row2-article2 article">
                    <h3 class="others__row2-article2-h3 article-h3">
                        Multiple Consultation options
                    </h3>
                    <p class="others__row2-article2-p article-p">
                        Flexibility in How You Connect:We understand that
                        everyone has their preferred way of communicating.
                        That’s why we offer three distinct options: chat, voice
                        call, and video call. If you're in a quiet place, a
                        quick text chat might be all you need. If you need more
                        in-depth advice, a voice or video call allows for a more
                        personal touch. Whatever your preference, Digital Doctor
                        adapts to your needs, ensuring a comfortable and
                        convenient consultation experience.
                    </p>
                </article>
                <article class="others__row2-article3 article">
                    <h3 class="others__row2-article3-h3 article-h3">
                        Certified Professionals
                    </h3>
                    <p class="others__row2-article3-p article-p">
                        Your health is in safe hands with Digital Doctor. All
                        our medical professionals are certified, highly
                        qualified, and experienced in their fields. Before
                        joining our platform, every doctor undergoes a rigorous
                        verification process to ensure they meet the highest
                        standards of medical care. When you consult with us,
                        you’re not just getting advice—you’re getting expert
                        guidance from top professionals dedicated to your
                        well-being.
                    </p>
                </article>
            </div>
            <div class="others__row3">
                <article class="others__row3-article">
                    <p class="others__row3-p">
                        <span class="span-heading">Testimonials</span>
                        <br />
                        "I was able to get a prescription for my allergies
                        without leaving my house. The process was so easy, and
                        the doctor was very helpful!"<span class="span-name"
                            >Sarah M.</span
                        >
                        <br />
                        "Digital Doctor saved me a trip to the ER. The doctor
                        guided me through what to do, and I felt much better
                        without the stress of going to the hospital."
                        <span class="span-name">— Michael T.</span>
                    </p>
                </article>
            </div>
            <div class="others__row4">
                <p class="others__row4-p">
                    <span class="span-row4"
                        >Start Your Consultation Now!!!</span
                    >
                    Don’t wait until it’s too late. Click the button below to
                    connect with a doctor instantly.
                </p>
            </div>
            <div class="others__row5">
                <a href="#" class="others__row5-button">Consult</a>
            </div>
        </section>
        <!-- <footer class="footer">
            <div class="footer__div1">
                <p class="footer__div1-p">
                    <span>About Digital Doctors:</span> Digital Doctor connects
                    you with certified doctors online, offering 24/7 access to
                    quality healthcare. Learn more in our Privacy
                    <a href="#">Policy and Terms</a> &
                    <a href="#">Conditions.</a>
                </p>
            </div>
            <div class="footer__div2">
                <article class="footer__div2-article1">
                    <p class="footer__div2-article1-p">
                        <a href="#">Home</a>/<a href="#">Consultation</a>/<a
                            href="#"
                            >Doctors</a
                        >/<a href="#">About Us</a>
                    </p>
                </article>
                <article class="footer__div2-article2">
                    <p class="footer__div2-article2-p">Connect With Us On</p>
                    <div>
                        <a href="#"
                            ><img src="../img/linkedIn.png" alt="Facebook Logo"
                        /></a>
                        <a href="#"
                            ><img
                                src="../img/xtwitter.png"
                                alt="Twitter(X) Logo"
                        /></a>
                        <a href="#"
                            ><img src="../img/facebook.png" alt="LinkedIn Logo"
                        /></a>
                    </div>
                </article>
                <article class="footer__div2-article3">
                    <p>
                        <span class="footer__div2-article3-header"
                            >Contact Us</span
                        >
                        <br />
                        Email: <a href="#">support@digitaldoctor.com</a>
                        <br />
                        Phone: +2347066886470
                    </p>
                </article>
            </div>
        </footer> -->
    </body>
</html>
