<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./../css/registration.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
            rel="stylesheet"
        />
        <title>Registration</title>
    </head>
    <body>
        <section class="complete_body">
            <main class="main_left">
                <div>
                    <img class="main_left-img" src="./../img/Pasted_image.png" alt="" />
                </div>
            </main>
            <main class="container">
                <section class="container__body">
                    <form
                        action="#"
                        enctype="multipart/form-data"
                        class="form"
                        id="registrationForm"
                    >
                        <div class="form__group">
                            <h2 class="form__h2">Register</h2>
                        </div>
                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="first_name"
                                >First Name</label
                            >
                            <input
                                type="text"
                                class="form__input form__input-anim"
                                id="first_name"
                                placeholder="First Name"
                                name="first_name"
                                first_name
                                required
                                minlength="3"
                                custommaxlength="30"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>
                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="last_name"
                                >Last Name</label
                            >
                            <input
                                type="text"
                                class="form__input form__input-anim"
                                id="last_name"
                                placeholder="Last Name"
                                name="last_name"
                                required
                                minlength="3"
                                custommaxlength="30"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>
                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="email"
                                >Email Address</label
                            >
                            <input
                                type="email"
                                class="form__input form__input-anim"
                                id="email"
                                name="email"
                                placeholder="Email Address"
                                required
                                minlength="5"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>
                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="age"
                                >Phone</label
                            >
                            <input
                                type="number"
                                class="form__input form__input-anim"
                                id="phone_no"
                                placeholder="phone"
                                name="phone"
                                required
                                minlength="8"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>
                        <div class="form__group form__radio-group form_val">
                            <h3>Gender</h3>
                            <div class="form__group form__radio-group">
                                <input
                                    type="radio"
                                    class="form__radio-input"
                                    id="male"
                                    value="male"
                                    name="gender"
                                    required-radio
                                />
                                <label
                                    class="form__label form__radio-label form__radio-first"
                                    for="male"
                                >
                                    <span class="form__radio-button"></span>
                                    Male
                                </label>
                            </div>
                            <div class="form__group form__radio-group">
                                <input
                                    type="radio"
                                    class="form__radio-input"
                                    id="female"
                                    value="female"
                                    name="gender"
                                    required-radio
                                />
                                <label
                                    for="female"
                                    class="form__label form__radio-label form__radio-second"
                                >
                                    <span class="form__radio-button"></span>
                                    Female
                                </label>
                            </div>
                            <span
                                class="error-icon span__radio-error radio-1 hidden"
                            >
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span
                                class="success-icon span__radio-success radio-2 hidden"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>

                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="dob"
                                >Date of Birth</label
                            >
                            <input
                                type="date"
                                class="form__input form__input-anim"
                                id="dob"
                                name="date_of_birth"
                                required
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>

                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="address"
                                >Address</label
                            >

                            <input
                                type="text"
                                class="form__input form__input-anim"
                                id="address"
                                name="address"
                                placeholder="Your Address"
                                required
                                minlength="10"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>

                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="password"
                                >Password</label
                            >
                            <input
                                type="password"
                                class="form__input form__input-anim"
                                id="password"
                                placeholder="Password"
                                name="password"
                                required
                                minlength="8"
                                custommaxlength="30"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>
                        <div class="form__group form_val">
                            <label
                                class="form__label form__label-anim"
                                for="confirmpassword"
                                >Confrim Password</label
                            >
                            <input
                                type="password"
                                class="form__input form__input-anim"
                                id="confirmpassword"
                                placeholder="Confirm Password"
                                name="confirm_password"
                                required
                                minlength="8"
                                custommaxlength="30"
                                match="password"
                            />
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>

                        <div class="form__group form__terms form_val">
                            <input
                                type="checkbox"
                                name="terms"
                                id="terms"
                                value="accepted"
                                required-checkbox
                            />
                            <label class="form__label" for="terms"
                                >I agree to the terms and condition
                            </label>
                            <span class="error-icon hidden">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </span>
                            <span class="success-icon hidden">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <div class="error"></div>
                        </div>
                        <button class="form__button" type="submit">
                            Register
                        </button>
                    </form>
                    <p class="container__body-p">
                        Already have an account?
                        <a href="./login.html">Login</a> Instead
                    </p>
                </section>
                <div id="formSummary"></div>
            </main>
        </section>
        <script src="./../javascripts/registration.js"></script>
    </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./../css/registration.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap"
            rel="stylesheet"
        />
        <title>Registration</title>
    </head>
    <body>
        <main class="container">
            <section class="container__body">
                <form action="#" class="form" id="registrationForm">
                    <div class="form__group">
                        <h2 class="form__h2">Register</h2>
                    </div>
                    <div class="form__group form_val">
                        <label class="form__label form__label-anim" for="names"
                            >Names</label
                        >
                        <input
                            type="text"
                            class="form__input form__input-anim"
                            id="names"
                            placeholder="Names"
                            name="Names"
                            required
                            minlength="3"
                            custommaxlength="30"
                        />
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form_val">
                        <label class="form__label form__label-anim" for="email"
                            >Email Address</label
                        >
                        <input
                            type="email"
                            class="form__input form__input-anim"
                            id="email"
                            name="Email"
                            placeholder="Email Address"
                            required
                            minlength="5"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                        />
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form_val">
                        <label class="form__label form__label-anim" for="age"
                            >Age</label
                        >
                        <input
                            type="number"
                            class="form__input form__input-anim"
                            id="age"
                            placeholder="Age"
                            name="Age"
                            required
                            minlength="2"
                            minage
                        />
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form_val">
                        <label class="form__label form__label-anim" for="age"
                            >Phone</label
                        >
                        <input
                            type="number"
                            class="form__input form__input-anim"
                            id="phone_no"
                            placeholder="phone"
                            name="phone"
                            required
                            minlength="8"
                        />
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form__radio-group form_val">
                        <h3>Gender</h3>
                        <div class="form__group form__radio-group">
                            <input
                                type="radio"
                                class="form__radio-input"
                                id="male"
                                value="male"
                                name="gender"
                                required-radio
                            />
                            <label
                                class="form__label form__radio-label form__radio-first"
                                for="male"
                            >
                                <span class="form__radio-button"></span>
                                Male
                            </label>
                        </div>
                        <div class="form__group form__radio-group">
                            <input
                                type="radio"
                                class="form__radio-input"
                                id="female"
                                value="female"
                                name="gender"
                                required-radio
                            />
                            <label
                                for="female"
                                class="form__label form__radio-label form__radio-second"
                            >
                                <span class="form__radio-button"></span>
                                Female
                            </label>
                        </div>
                        <span
                            class="error-icon span__radio-error radio-1 hidden"
                        >
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span
                            class="success-icon span__radio-success radio-2 hidden"
                        >
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>

                    <div class="form__group form__select-group form_val">
                        <label class="form__label" for="country"
                            >Select Your Country</label
                        >
                        <select
                            name="country"
                            id="country"
                            class="form__select"
                            validate-select
                        >
                            <option value="Select">Select</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Canada">Canada</option>
                            <option value="United Kingdom">
                                United Kingdom
                            </option>
                            <option value="India">India</option>
                        </select>
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form_val">
                        <label
                            class="form__label form__label-anim"
                            for="password"
                            >Password</label
                        >
                        <input
                            type="password"
                            class="form__input form__input-anim"
                            id="password"
                            placeholder="Password"
                            name="Password"
                            required
                            minlength="8"
                            custommaxlength="30"
                        />
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form_val">
                        <label
                            class="form__label form__label-anim"
                            for="confirmpassword"
                            >Confrim Password</label
                        >
                        <input
                            type="password"
                            class="form__input form__input-anim"
                            id="confirmpassword"
                            placeholder="Confirm Password"
                            name="Confirm Password"
                            required
                            minlength="8"
                            custommaxlength="30"
                            match="password"
                        />
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form__radio-group form_val">
                        <h3>Contact Method</h3>
                        <div class="form__group form__radio-group">
                            <input
                                type="radio"
                                class="form__radio-input"
                                id="mail"
                                value="mail"
                                name="contact method"
                                required-radio
                            />
                            <label
                                class="form__label form__radio-label form__radio-first"
                                for="mail"
                            >
                                <span class="form__radio-button"></span>
                                Mail
                            </label>
                        </div>
                        <div class="form__group form__radio-group">
                            <input
                                type="radio"
                                class="form__radio-input"
                                id="phone"
                                value="phone"
                                name="contact method"
                                required-radio
                            />
                            <label
                            class="form__label form__radio-label form__radio-second"
                            for="phone"
                            >
                                <span class="form__radio-button"></span>
                                Phone
                            </label>
                        </div>
                        <span
                            class="error-icon span__radio-error radio-1 hidden"
                        >
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span
                            class="success-icon span__radio-success radio-2 hidden"
                        >
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <div class="form__group form__terms form_val">
                        <input
                            type="checkbox"
                            name="terms"
                            id="terms"
                            value="accepted"
                            required-checkbox
                        />
                        <label class="form__label" for="terms"
                            >I agree to the terms and condition
                        </label>
                        <span class="error-icon hidden">
                            <i class="fa-solid fa-circle-exclamation"></i>
                        </span>
                        <span class="success-icon hidden">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <div class="error"></div>
                    </div>
                    <button class="form__button" type="submit">Register</button>
                </form>
                <p class="container__body-p">
                    Already have an account?
                    <a href="./login.html">Login</a> Instead
                </p>
            </section>
            <div id="formSummary"></div>
        </main>
        <script src="./../javascript/registration.js"></script>
    </body>
</html>
 -->
