*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1920px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: "SUSE", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.7;
  color: rgb(73, 11, 61);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover, a:focus, a:active {
  text-decoration: underline !important;
  outline: none;
  color: rgb(6, 31, 252);
}

.nav__div-h3 {
  display: none;
  visibility: hidden;
}
@media (max-width: 900px) {
  .nav__div-h3 {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 900px) {
  .nav {
    height: 30%;
    width: 30vw;
    position: absolute;
    background-color: rgb(156, 149, 185);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
    z-index: 2;
    right: 0;
  }
  .nav__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .nav__div_li {
    color: rgb(252, 247, 247);
    text-decoration: none;
  }
  .nav__div_li:hover {
    color: rgb(6, 31, 252);
    text-decoration: underline;
  }
  .inp {
    display: none;
    visibility: hidden;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
  }
  .toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 15px;
    z-index: 3;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(252, 247, 247);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(253, 5, 5);
    border-radius: 50px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .toggle .top_line {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .toggle .middle_line {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .toggle .bottom_line {
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .inp:checked ~ .toggle .top_line {
    left: 2px;
    top: 14px;
    width: 25px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .inp:checked ~ .toggle .bottom_line {
    left: 2px;
    top: 14px;
    width: 25px;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  .inp:checked ~ .toggle .middle_line {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  .inp:checked ~ .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  .nav__div-h3 {
    display: block;
    visibility: visible;
    color: rgb(73, 11, 61);
    font-size: 5rem;
    font-weight: 800;
    margin-right: 5rem;
    padding-right: -20rem;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
  }
  a.nav__div_li:hover, a.nav__div_li:active, a.nav__div_li:focus {
    font-size: 130% !important;
    -webkit-transition: font-size 0.1s !important;
    transition: font-size 0.1s !important;
  }
}
.container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}

.headnav {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
}
.headnav .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}
.headnav .lab {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79%;
          flex: 0 0 79%;
}
.headnav .inp {
  visibility: hidden;
}
.headnav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
}
.headnav .nav .nav__div {
  margin-right: 5rem;
  margin-top: -3rem;
}
@media (max-width: 600px) {
  .headnav .nav .nav__div {
    margin-right: 1rem;
  }
}
.headnav .nav .nav__div a.nav__div_li {
  color: rgb(253, 5, 5);
  font-size: 3rem;
  font-weight: 530;
  margin-right: 2rem;
}
.headnav .nav .nav__div a.nav__div_li:hover {
  color: rgb(6, 31, 252);
}
@media (max-width: 1200px) {
  .headnav .nav .nav__div a.nav__div_li {
    font-size: 2.5rem;
  }
}
@media (max-width: 900px) {
  .headnav .nav .nav__div a.nav__div_li {
    font-size: 3rem;
  }
}
.headnav .nav__div_button {
  text-decoration: none;
  background-color: rgb(6, 31, 252);
  color: rgb(252, 247, 247);
  font-weight: 700;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 2.5rem 0 2.5rem 0;
  border: none;
}
.headnav .nav__div_button:hover {
  background-color: rgb(253, 5, 5);
}

.footer {
  grid-column: 1/-1;
  grid-row: 4/5;
  background-color: rgb(156, 149, 185);
  color: rgb(252, 247, 247);
  padding-top: 1.5rem;
}
.footer__div1 {
  font-weight: 300;
}
.footer__div1-p {
  margin-left: 2rem;
}
.footer__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
}
@media (max-width: 900px) {
  .footer__div2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 0rem;
  }
  .footer__div2 .footer__div2-article1-p {
    grid-column: 1/2;
    margin-left: -5rem;
    margin-bottom: -0.4rem;
  }
  .footer__div2 .footer__div2-article2 {
    grid-column: 1/2;
  }
  .footer__div2 .footer__div2-article3 {
    margin-top: -4rem;
  }
}
.footer__div2-article2 img {
  height: 3.4rem;
  width: 3.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__div2-article2 img:first-child {
  margin-left: 3rem;
}
.footer__div2-article2-p {
  color: rgb(253, 5, 5);
  font-weight: 500;
}
.footer__div2-article3 {
  padding-bottom: 1rem;
}
.footer__div2-article3-header {
  color: rgb(253, 5, 5);
  font-weight: 500;
}
.footer__div2-article1-p {
  margin: 2rem;
}

.mainaside {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 239, 239, 0.8)), to(rgba(247, 217, 217, 0.1))), url(./../img/pexels-edward-jenner-4031820_1.png);
  background-image: linear-gradient(rgba(248, 239, 239, 0.8), rgba(247, 217, 217, 0.1)), url(./../img/pexels-edward-jenner-4031820_1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.mainaside .main {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.mainaside .main__div1 {
  grid-column: 1/2;
}
.mainaside .main__img {
  max-width: 80vw;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 2rem;
}
.mainaside .main__div2 {
  grid-column: 2/3;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: -9rem;
}
.mainaside .main__div2 h2.main__div2-h2 {
  color: rgb(253, 5, 5);
  font-size: 6rem;
}
@media (max-width: 1200px) {
  .mainaside .main__div2 h2.main__div2-h2 {
    font-size: 5rem;
  }
}
@media (max-width: 900px) {
  .mainaside .main__div2 h2.main__div2-h2 {
    margin-left: -20rem;
    font-size: 4.5rem;
  }
}
.mainaside .main__div2 p.main__div2-p {
  line-height: 8rem;
  font-size: 4rem;
}
@media (max-width: 900px) {
  .mainaside .main__div2 p.main__div2-p {
    font-size: 3rem;
    margin-left: -25rem;
  }
}

.aside {
  margin: 2rem;
}

.others {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}
.others__row1 {
  grid-row: 1/2;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  .others__row1 {
    margin: 0rem 0rem 2rem 0rem;
  }
}
.others__row1-h2 {
  color: rgb(253, 5, 5);
}
.others__row2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1920px) {
  .others__row2 {
    gap: 2rem;
  }
}
@media (max-width: 1200px) {
  .others__row2 {
    gap: 1rem;
  }
}
@media (max-width: 900px) {
  .others__row2 {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    margin: 0rem 3rem 0rem 3rem;
  }
}
.others__row2 .article {
  background-color: rgba(156, 149, 185, 0.25);
  border-radius: 5rem 0 5rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}
.others__row2 .article-h3 {
  text-align: center;
}
@media (max-width: 1920px) {
  .others__row2 .article-h3 {
    font-size: 2.8rem;
  }
}
.others__row2-article1 {
  margin-left: 6rem;
}
@media (max-width: 1920px) {
  .others__row2-article1 {
    margin-left: 3rem;
  }
}
@media (max-width: 1920px) and (max-width: 900px) {
  .others__row2-article1 {
    margin-left: 0rem;
  }
}
.others__row2-article3 {
  margin-right: 6rem;
}
@media (max-width: 1920px) {
  .others__row2-article3 {
    margin-right: 3rem;
  }
}
@media (max-width: 900px) {
  .others__row2-article3 {
    margin-right: 0rem;
  }
}
.others__row3-article {
  border-radius: 5rem 0 5rem 0;
  background-color: rgba(156, 149, 185, 0.25);
  margin: 2rem;
}
.others__row3-p {
  padding: 2.5rem;
  font-weight: 300;
}
.others__row3-p .span-heading {
  color: rgb(253, 5, 5);
  font-weight: 600;
}
.others__row4 {
  margin-top: 1rem;
}
.others__row4 .span-row4 {
  color: rgb(253, 5, 5);
  font-weight: 600;
}
.others__row4-p {
  margin-left: 3rem;
}
.others__row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.others__row5-button {
  text-decoration: none;
  background-color: rgb(6, 31, 252);
  color: rgb(252, 247, 247);
  font-weight: 500;
  padding: 0rem 2rem 0rem 2rem;
  border-radius: 2.5rem 0 2.5rem 0;
  margin: 2rem 0 3rem 0;
}
.others__row5-button:hover {
  text-decoration: none !important;
  background-color: rgb(253, 5, 5);
  color: rgb(252, 247, 247);
}