/* Error: expected "}".
 *    ,
 * 26 | }
 *    |  ^
 *    '
 *   public/Scss/partials/_mixins.scss 26:2  @import
 *   public/Scss/_main.scss 2:9              @import
 *   public/Scss/patientDashboard.scss 1:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 26 \2502  }\a    \2502   ^\a    \2575 \a   public/Scss/partials/_mixins.scss 26:2  @import\a   public/Scss/_main.scss 2:9              @import\a   public/Scss/patientDashboard.scss 1:9   root stylesheet';
}
