.nav__div-h3 {
    display: none;
    visibility: hidden;
    @include responsive(tab-port) {
        display: block;
        visibility: visible;
    }
}

@include responsive(tab-port) {
    .nav {
        height: 63rem;
        width: 35rem;
        position: absolute;
        background-color: $footer-color;
        transition: all 0.5s;
        transform: translateX(40vw);
        z-index: 2;
        right: 0;
        
        @include responsive(phone) {
            height: 70rem;
            transform: translateX(50vw);
        }

        &__div {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            &_li {
                color: $button-text-color;
                text-decoration: none;
                @include responsive(tab-port) {
                    font-size: 3.5rem !important;
                }
            }
            &_li:hover {
                color: $link-hover;
                text-decoration: underline;
            }
        }
    }


    .inp {
        display: none;
        visibility: hidden;
        appearance: none;
        -webkit-appearance: none;
    }

    .toggle {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 2.6rem;
        right: 15px;
        z-index: 3;
        cursor: pointer;
        border-radius: 2px;
        background-color: $button-text-color;
        box-shadow: 0 0 10px $shadow-box-color;
        @include responsive(phone) {
            top: 1rem;
        }

        .common {
            position: absolute;
            height: 2px;
            width: 20px;
            background-color: $headings-color;
            border-radius: 50px;
            transition: 0.3s ease;
        }
        .top_line {
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .middle_line {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .bottom_line {
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .inp:checked {
        ~ .toggle {
            .top_line {
                left: 2px;
                top: 14px;
                width: 25px;
                transform: rotate(225deg);
            }
            .bottom_line {
                left: 2px;
                top: 14px;
                width: 25px;
                transform: rotate(-225deg);
            }
            .middle_line {
                opacity: 0;
                transform: translateX(-50px);
            }
        }

        ~ .nav {
            transform: translateX(0);
            box-shadow: 0 0 15px $shadow-box-color;
        }
    }
    .nav__div-h3 {
        display: block;
        visibility: visible;
        color: $body-color;
        font-size: 5rem;
        font-weight: 800;
        margin-right: 5rem;
        padding-right: -20rem;
        padding: 10px 0;
        padding-right: 30px;
        pointer-events: none;
        margin-bottom: -1.5rem;
    }

    a.nav__div_li {
        &:hover,
        &:active,
        &:focus {
            font-size: 130% !important;
            transition: font-size 0.1s !important;
        }
    }
}

.logout-form {
  margin: 0;
  padding: 0;
  display: inline;
}

