$color-primary: black;
$headings-color: rgb(253, 5, 5);
$button-color: rgb(253, 5, 5);
$button-text-color: rgb(252, 247, 247);
$body-color: rgb(73, 11, 61);
$link-hover: rgb(6, 31, 252);
$footer-header: rgb(34, 55, 245);
$footer-color: rgb(156, 149, 185);
$container-color: rgb(156, 149, 185, 25%);
$footer-text-color: rgb(252, 247, 247);
$shadow-box-color: rgba(0, 0, 0, 0.3);
// $footer-header2: rgb(53, 67, 189);
$button-color2: rgb(88, 66, 84);
